version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: album-photo-web
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html:cached
      - ./uploads:/var/www/html/uploads
    environment:
      - APP_ENV=${APP_ENV}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_DATABASE=${DB_DATABASE}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - UPLOAD_DIR=${UPLOAD_DIR}
      - BASE_URL=${BASE_URL}
      - SESSION_NAME=${SESSION_NAME}



#volumes:

